<div class="modal-header">
	<button type="button" class="close" ng-click="close_modal()"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="myModalLabel">Dispatch Note</h4>
</div>

			

<form class="form-horizontal form_add_section">

	<div class="form-group">
		<label class="col-sm-4" >Dispatch to Section:</label>
		<div class="col-sm-8">
			<select class="form-control" ng-model="target_section">
				<option ng-repeat="item in sections">{{item['name']}}</option>
			</select>

		</div>
	</div>

	
	<div class="alert_show">
		<span class="alert alert-warning" ng-show="show_alert!=false"><strong>Sorry, </strong>{{show_alert}}<span class="glyphicon glyphicon-remove alert_close" ng-click="show_alert=false"></span></span>
	</div>


</form>




<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="close_modal()">Close</button>
	<button type="button" class="btn btn-primary" ng-disabled="loading" ng-click="submit_modal()">
	<i ng-show="loading" class="fa fa-spinner fa-spin"></i>
		Confirm
	</button>
</div>




