<div class="modal-header">
	<button type="button" class="close" ng-click="close_modal()"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="myModalLabel">Simple HowTo</h4>
</div>


<div class="question_container">


<h3>How to use IT shpora</h3>

<h4>First steps</h4>
<p><b>1)</b>First of all  you need <u>create an account</u> for your personal instance of code notes.
<br>If no – you can see my code notes but without any CRUD permission.
</p>

<p><b>2)</b>To be able to add first CODE NOTE – you need add at least one SECTION <mark> +add section </mark>.
	<img src="./static/img/1.jpg"></img>

<h4>Conventional cases:</h4>
<ul>
	<li>Use QUICK ADD to quickly add new code note which you may need remember in Future. By default it is the first tab to load if you signed.</li>
	<li>Use SEARCH engine to quickly find your prompts.</li>
</ul>




<h4>CRUD SECTION</h4>
<p>All sections sorted by name.</p>


<ul>
	<li>You can <mark><strong>ADD</strong></mark> new sections as admitted above</li>
	<li>You can <mark><strong>RENAME</strong></mark> section</li>
	
	<li>You can <mark><strong>REMOVE</strong></mark> section. ALL DOCS FROM THIS SECTION WILL BE DELETED
		<img src="./static/img/5.jpg"></img>
	</li>

	<li>You can <mark><strong>MERGE</strong></mark> section. It means dispatching all code notes from these section to picked.
		<img src="./static/img/4.jpg"></img>
	</li>
</ul>

<h4>CRUD code notes</h4>
<p>All code notes sorted by created date. If you <mark>dispatch</mark> code note to another section – <b>date will renewed.</b></p>

<ul>

	<li>Use <mark><strong>QUICK ADD</strong></mark> tab and quickly add code note
		<img src="./static/img/9.jpg"></img>
	</li>
	

	<li>Use <mark><strong>+NOTES</strong></mark> of particular section to add new code note in these section.
		<img src="./static/img/2.jpg"></img>
	</li>


	<li>You can <mark><strong>REMOVE</strong></mark> code note
		<img src="./static/img/8.jpg"></img>
	</li>
	<li>You can <mark><strong>DISPATCH</strong></mark> code note to another section
		<img src="./static/img/6.jpg"></img>
	</li>
	<li>You can <mark><strong>EDIT</strong></mark> code note
		<img src="./static/img/7.jpg"></img>
	</li>

</ul>

<h4>Search</h4>
USE search engine to quickly find code notes like
<strong><em>put elastic</em></strong>
	<img src="./static/img/10.jpg"></img>

<h4><ins>Technologies I have used:</ins></h4>
<ul>
	<li>Elasticsearch (as main storage and search engine)</li>
	<li>MongoDB (for users)</li>
	<li>Python (flask)</li>
	<li>AngularJS (front-end framework)</li>

</ul>
<h5>Nice joining!</h5>



</div>


<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="close_modal()">Close</button>
</div>




